.content {
    display: flex;
    height: 100%;
    width: 97.5%;
    padding: 30px 16px;
    flex-direction: column;
    align-items: center;
    background-color: #b23423c3;
}

svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
}

.logo-image {
    max-width: 200px;
}

.logo-image-img {
    max-width: 200px;
}